/* Font-family*/

@font-face {
    font-family: 'HelveticaMC';
    src: url('helveticaneueltpro-mdcn-webfont.eot');
    src: local('â˜º'), url('helveticaneueltpro-mdcn-webfont.woff') format('woff'), url('helveticaneueltpro-mdcn-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaULC';
    src: url('helveticaneueltcom-ultltcn-webfont.eot');
    src: local('â˜º'), url('helveticaneueltcom-ultltcn-webfont.woff') format('woff'), url('helveticaneueltcom-ultltcn-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLC';
    src: url('helveticaneueltcom-ltcno-webfont.eot');
    src: local('â˜º'), url('helveticaneueltcom-ltcno-webfont.woff') format('woff'), url('helveticaneueltcom-ltcno-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}





/* Style */
.font-MC{
    font-family: 'HelveticaMC',;
}

.font-ULC{
    font-family: 'HelveticaULC';
}

.font-LC{
    font-family: 'HelveticaLC'; 
}

body {
    background-image: url("../img/background.png");
    background-size: cover;
}

.blue-text-color {
    color: #a7c4ea;
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none !important;
}

.font-size-text-header {
    font-size: 1.5rem;
}

.big-button {
    text-align: center;
    -moz-box-shadow: 0px 1px 0px 1px #5f7a9a;
    -webkit-box-shadow: 0px 1px 0px 1px #5f7a9a;
    box-shadow: 0px 1px 0px 1px #5f7a9a;
    background: -moz-linear-gradient(top, #b5e8ff 5%, #5d98e0 100%);
    background: -webkit-linear-gradient(top, #b5e8ff 5%, #5d98e0 100%);
    background: -o-linear-gradient(top, #b5e8ff 5%, #5d98e0 100%);
    background: -ms-linear-gradient(top, #b5e8ff 5%, #5d98e0 100%);
    background: linear-gradient(to bottom, #b5e8ff 5%, #5d98e0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#b5e8ff', endColorstr='#5d98e0', GradientType=0);
    background-color: #b5e8ff;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #37567f;
    font-family: Arial;
    font-size: 18px;
    padding: 5px 31px;
    text-shadow: 0px 1px 0px #ffffff;
}

.big-button:hover {
    background: -moz-linear-gradient(top, #5d98e0 5%, #b5e8ff 100%);
    background: -webkit-linear-gradient(top, #5d98e0 5%, #b5e8ff 100%);
    background: -o-linear-gradient(top, #5d98e0 5%, #b5e8ff 100%);
    background: -ms-linear-gradient(top, #5d98e0 5%, #b5e8ff 100%);
    background: linear-gradient(to bottom, #5d98e0 5%, #b5e8ff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5d98e0', endColorstr='#b5e8ff', GradientType=0);
    background-color: #5d98e0;
}

.big-button:active {
    position: relative;
    top: 1px;
}

/*try make shadow instead of image*/

.logo {
    position: relative;
}

.logo::after {
    content: '';
    position: absolute;
    bottom: -10%;
    left: 10%;
    width: 80%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 0px 20px 8px black;
    opacity: 0.1;
}

p {
    display: inline;
}

.shape-mess {
    background: url("../img/testimonials-li-text.png") repeat-x top #f1f1f1;
    padding-bottom: 15px;
    text-align: center;
    display: block;
    border-radius: 5px;
}

.color-growd {
    background-color: #a5a5a5;
}

.color-growder {
    background-color: #575757;
}

.position-w-button-1 {
    width: auto;
    top: 42%;
    left: 105%;
    display: inline;
    float: left;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}

.width-150 {
    width: 150%;
}

.position-w-button-2 {
    width: auto;
    top: 0;
    left: -50%;
    display: inline;
    float: left;
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    position:
}